In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('safecast_dists.csv')

In [3]:
df.columns

Index(['distance', 'mlat', 'mlong'], dtype='object')

In [14]:
df.

   distance      mlat     mlong
0   7.99497  0.623195  2.438189
1   7.99516  0.623195  2.438189
2   7.99539  0.623195  2.438189
3   7.99092  0.623195  2.438189
4   7.98570  0.623195  2.438189

In [4]:
df.distance.describe()

count    2117836.000000
mean         387.399306
std         1745.963297
min            0.049260
25%           11.866555
50%           33.969100
75%           56.340885
max        11623.645210
Name: distance, dtype: float64

In [12]:
a = df[df.distance < 1]

In [13]:
a.describe()

        distance       mlat      mlong
count  45.000000  45.000000  45.000000
mean    0.082204   0.643806   2.445968
std     0.015087   0.017818   0.006725
min     0.049260   0.623195   2.438189
25%     0.069740   0.623195   2.438189
50%     0.088680   0.658868   2.451653
75%     0.094530   0.658868   2.451653
max     0.097530   0.658868   2.451653